name: pull request - e2e tests

#todo: check caching dependencies: https://github.com/actions/cache
on:
  push:
    branches: [ 'main', 'release-*' ]
  pull_request:
    branches: [ 'main', 'release-*' ]

jobs:
  e2e-tests:
    name: e2e-tests
    runs-on: ubuntu-latest
    steps:
    - name: install make
      run: sudo apt-get install make
    - name: install oc & kubectl
      run: |
        wget https://mirror.openshift.com/pub/openshift-v4/clients/ocp/stable-4.15/openshift-client-linux.tar.gz
        tar xvf openshift-client-linux.tar.gz oc kubectl
        sudo cp oc kubectl /usr/local/bin
        oc version
    - name: set up go 1.x
      uses: actions/setup-go@v3
      with:
        go-version: '1.25'
    - name: checkout
      uses: actions/checkout@v3
    - name: get kernel version
      run: uname -r
    - name: run end-to-end tests
      run: make tests-e2e
    - name: upload e2e test logs
      uses: actions/upload-artifact@v4
      if: always()
      with:
        name: e2e-logs
        path: |
          e2e-logs
          e2e/commands
          e2e/output