name: pull request checks

on:
  pull_request:
    branches: ['*']

jobs:
  build-test:
    name: Build, lint, test
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version: '1.25'
    - name: Install make
      run: sudo apt -y install make
    - name: run build
      run: make build && git diff --exit-code
    - name: run unit tests
      run: make test coverage-report
    - name: check clean vendors
      run: go mod vendor
    - name: Report coverage
      uses: codecov/codecov-action@v4
      env:
        CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
      with:
        files: ./cover.out
        flags: unittests
        fail_ci_if_error: false
        verbose: true

  test-multiarch-image-build:
    runs-on: ubuntu-latest
    steps:
      - name: install make
        run: sudo apt-get install make
      - name: set up go 1.x
        uses: actions/setup-go@v3
        with:
          go-version: '1.25'
      - name: checkout
        uses: actions/checkout@v3
      - name: build and push manifest with images
        run: |
          MULTIARCH_TARGETS="arm64" IMAGE_ORG=${{ env.WF_ORG }} VERSION=${{ env.WF_VERSION }} CLEAN_BUILD=1 make image-build
